// Used by Home, HeroForm, 404

.hero {
	position: relative;
	height: calc(100vh); min-height: 700px;
	background-image: url(../assets/hero.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $secondary;

	@include bp-md {
		height: auto;
		padding: 50px 0;
	}

	@include bp-sm {
		background-size: 185%;
	    background-position: top;
	}
	
	.has-overlay {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
		background-color: #000;
		opacity: .5;
	}

	#logo {
	    max-height: 50px;
	}

	.hero-content {
		position: absolute; top: 50%; left: 50%;
		width: 100%; height: 85%;
		@include transform(translateX(-50%) translateY(-50%));

		@include bp-md {
			position: relative; top: 0; left: 0;
			height: 100%;
			@include transform(translateX(0%) translateY(0%));
		}

		.left {
			.top {
				margin-bottom: 100px;
			}

			.bottom {
				h1 {
					position: relative;
					display: block;
					font-weight: bold; color: #fff;

					@include bp-sm {
						font-size: 2rem;
					}

					&:before {
						content: '';
						position: absolute; bottom: -15px; left: 0;
						width: 50px; height: 5px;
						background-color: $primary;
					}
				}

				p {
					display: block; 
					margin-top: 25px;
					font-size: 21px; color: #fff;
				}
			}

			@include bp-sm {
				height: 400px;
			}
		}
		.right {
			@include bp-sm {
				padding: 0;
			}
			.accountinfo {
				margin-top: 20px;
				color: $white;

				@include bp-sm { height: 130px; }

				a {
					position: relative;
					display: inline-block;
					font-weight: bold; color: $white;

					&:after {
						content: '';
						position: absolute; left: 0; bottom: 0;
						background-color: $white;
						width: 100%; height: 1px;
					}

					&:hover, &:focus { 
						text-decoration: none; 
						color: $primary; 

						&:after {
							background-color: $primary;
						}
					}
				}
			}
		}
	}

}