.has-text-primary {
	color: $primary;
}

a, input, button {
    transition: all .5s ease;
    &:hover, &:focus {
        transition: all .5s ease;
    }
}
input, button {
    padding: 8px 15px !important;
    background-image: none !important;
    transition: all .5s ease;

    &:active, &:hover, &:focus { 

        border-color: $primary;
        -webkit-box-shadow: 0 0 0 0.125em rgba($primary,.15);
        -moz-box-shadow: 0 0 0 0.125em rgba($primary,.15);
        box-shadow: 0 0 0 0.125em rgba($primary,.15);
        transition: all .5s ease;
    }
}

input, textarea { 
    background-color: transparent;
    background-image: transparent;
    border-radius: .25rem; 
    border-color: rgba($dark, .3);
   margin-top: 15px; 

    &:first-child {
        margin-top: 0;
    }
    
    &.form-check-input {
        margin-bottom: 0;
    }

    &[type=textarea] {
        min-height: 60px;
    }

    &[type=submit] {
        min-height: 60px;
    }
}

label { margin: 0; }

form {

    .error {
        color: $primary;
        position: relative;
        margin: 0; top: -5px;
        text-align: center; font-size: 12px;
    }

	.field {
        margin-bottom: 15px;

		.control {
			.input, .textarea, .taginput {
				&:active, &:hover, &:focus { 

				    border-color: $primary;
				    -webkit-box-shadow: 0 0 0 0.125em rgba($primary,.15);
				    -moz-box-shadow: 0 0 0 0.125em rgba($primary,.15);
				    box-shadow: 0 0 0 0.125em rgba($primary,.15);
				    transition: all .5s ease;
				}
			}


			&.has-icons-left {
				.input {
					padding-left: 2.25em !important;
				}
				
			}
		}
	}

    &#hero {
        
        .error {
            color: $primary;
            position: relative;
            top: -10px; left: 15px;
            margin: 0;
            text-align: left; font-size: 12px;
        }
        

        .form-radios {
            .error {
                top: 0; left: 0;
                text-align: center !important; 
                width: 100%;
            }
        }
    }
}



// .input:focus, 
// .taginput .taginput-container.is-focusable:focus, 
// .input.is-focused, 
// .taginput .is-focused.taginput-container.is-focusable, 
// .input:active, 
// .taginput .taginput-container.is-focusable:active, 
// .input.is-active, 
// .taginput .is-active.taginput-container.is-focusable, 
// .textarea:focus, 
// .textarea.is-focused, 
// .textarea:active, 
// .textarea.is-active {
//     border-color: #7957d5;
//     -webkit-box-shadow: 0 0 0 0.125em rgba(121, 87, 213, 0.25);
//     box-shadow: 0 0 0 0.125em rgba(121, 87, 213, 0.25);
// }